block content
  #chat-area
    .row#message-area
      .messages.col-lg-6.well.well-sm
    .row
      .col-lg-6
        .input-group#chat-input
          input.form-control(type='text', placeholder='Message...')
          span.input-group-btn
            button.btn.btn-default(type='button') Send

  //- form.form-inline#initial-form
  //-   .form-group
  //-     label(for='who-are-you') Name: 
  //-     input#who-are-you.form-control(type='text', placeholder='Anonymous')
  //-   button.btn.btn-primary(type='submit') Start Chatting
