extends layout

block content
  canvas#canvas(style="border:5px solid;")

  img#back_card(src="/images/UnoCard/Q.png" align="right" width=73.05 height=119.25)

  include chat.pug
  
  h3 Card Listing
    table
      thead
        tr 
          th Card ID
          th Image Path
      tbody
        each card in cards
          tr
            td= card.id
            td= card.image
block scripts
  script(src='/javascripts/game.js')

  

