extends layout

block content
  body 
    .container
      #player3.row.text.center
            .col-md-3
            .col-md-3
              img.img-responsive.center-block(src='/images/user.png' width='72' height='120')
            .col-md-3
              .row.text.center
                h6 Player 3
              .row Cards in Hand 0 
            .col-md-3
      .row(style="background-color:yellow")
        #playarea.col-md-8.col-md-offset-2
          .row
            .col-md-1
            .col-md-2
              .row
                img.img-responsive.center-block(src='/images/user.png')
              .row.text.center
                h6 Player 2
              .row Cards in Hand 0 
            #cardpile.middle.col-md-6
              .card-group
                .card
                  img.img-responsive.center-block(src='/images/UnoCard/Q.png')
                  .card-block
                    button#drawFromDeck.btn.btn-primary.btn-group-justified Draw
                .card
                  img.img-responsive.center-block(src='/images/UnoCard/wild.png')
                  .card-block
                    button#UNO.btn.btn-danger.btn-group-justified Uno
            .col-md-2
              .row
                img.img-responsive.center-block(src='/images/user.png')
              .row.text.center
                h6 Player 4
              .row Cards in Hand 0 
            .col-md-1
          .row.text-center
            button#start.btn.btn-success Start
            button#ready.btn.btn-info Ready
            button#playCardfromHand.btn.btn-success(onclick='isValidPlay(playerCards[0], gameData.topCard)') PlayCard
          .row
            .dropdown
              button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
                | -- Select a Card --
                span.caret
              ul#playCardfromHand.dropdown-menu
                li
                  1
                li
                  2
                li
                  3
            h6 #{username}
      .row(style="background-color:green")
        .col-sm-2
          //- include chat.pug
      .col-lg-12
        .row(style="background-color:blue; height:120px;")
          #card-area
            //- p hellow
            //- .col
              // for each card in player hand
            //- img.pull-left.img-responsive(src='/images/UnoCard/blue3.png', width='72', height='120')
            //- img.pull-left.img-responsive(src='/images/UnoCard/red6.png', width='72', height='120')
            //- img.pull-left.img-responsive(src='/images/UnoCard/red1.png', width='72', height='120')
            //- img.pull-left.img-responsive(src='/images/UnoCard/blue3.png', width='72', height='120')
            //- img.pull-left.img-responsive(src='/images/UnoCard/red2.png', width='72', height='120')
            //- img.pull-left.img-responsive(src='/images/UnoCard/red6.png', width='72', height='120')
            //- img.pull-left.img-responsive(src='/images/UnoCard/red5.png', width='72', height='120')
            //- img.pull-left.img-responsive(src='/images/UnoCard/red6.png', width='72', height='120')

      //- .row(style="background-color:red")
  include chat.pug
        
    //- table
      thead
        tr
        th card_id

      tbody
        each card in cards
          tr
            td= card.card_id


    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/game.js' userid = userid, username = username)
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")