a {
  color: #00B7FF;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
}
  
.navbar {
  margin-bottom: 0;
}

#chat-area {
  /*display: none;  */
  /*position: fixed;*/
  bottom: 0;
  /*width: 50%;*/
}

/*#game_space {
    background-color: #000000; 
    color: #ffffff;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 120px;

#canvas {
  background-color: green;
  margin-left: 0;
  margin-right: 0;
  display: block;
  width: 100%;
  height: 70%;

}

/*#initial-form {
  position: fixed;
  bottom: 0;
}*/

.messages {
  min-height: 100px;
  max-height: 100px;
}

.message {
  padding-top: 2px;
  width: 100%;
  background-color: #ddd;
  border-radius: 3px;
  margin-top: 2px;
}

.message:nth-child(odd) {
  background-color: #fff;
}

time.timeago {
  color: #777;
  font-style: italic;
  padding-right: 8px;
  padding-left: 6px;
}

span.user {
  color: #369;
  padding-right: 8px;
  font-weight: bold;
}
